{
    "extends": [
      "eslint:recommended",
      "plugin:vue/recommended"
    ],
    "rules": {
        "no-unused-vars": "off",
        "vue/multi-word-component-names": "off",
        "vue/no-duplicate-attributes": ["off", {
          "allowCoexistClass": true,
          "allowCoexistStyle": true
        }]
    }
  }
  